.cardno2{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
    justify-items: center;
}

.one{
    background-color: aliceblue;
    height: 300px;width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-bottom: 25px;
}
.two{
    height: 300px;width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-bottom: 25px;}
.three{
    background-color: aliceblue;
    height: 300px;width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-bottom: 25px;
}

.child1{
    background-color: aliceblue;
    width: 400px; height: 200px;
    margin-bottom: 25px;
}

.child2{
    background-color: aliceblue;
    width: 400px; height: 200px;
  
}