* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  background-color: rgb(220, 224, 227);
  width: 100%;
  height: auto;
  overflow: scroll;
}
.container122 {
  position: relative;
  width: 100%;
  display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;

}
.card1222{
  
  display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-let{
  font-weight: bold;
  direction: ltr;
  margin-left: 25px;
  display: inline-block;
}


.second-let{
  font-weight: bold;
  float: right;
  margin-left: 25px;
  display: inline-block;
  margin-right: 250px;
}